body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
}

#company-name-button {
  background-color: purple;
  color: white;
  padding: 19px;
  border-radius: 15px;
  font-size: 20px;
}

span {
  color: rgb(160, 17, 146);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.team-section {
    text-align: center;
    margin-bottom: 40px;
}

#leadership-Management-button {
  background-color: purple;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 19px;
  border-radius: 15px;
  font-size: 20px;
}

#Development-team-button {
  background-color: rgb(142, 17, 142);
  color: white;
  align-items: center;
  justify-content: center;
  padding: 19px;
  border-radius: 15px;
  font-size: 20px;
}

#Sales-and-marketing-team-button {
  background-color: rgb(142, 17, 142);
  color: white;
  align-items: center;
  justify-content: center;
  padding: 19px;
  border-radius: 15px;
  font-size: 20px;
}

.team-category {
    align-items: center;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    text-align: center;
    margin: 10px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.team-member h4 {
    margin: 10px 0 5px;
}

.team-member p {
    margin: 0;
    color: #888;
}